.form
    %form.input-message{action: "#", method: "post", autocomplete: "on"}  

    .form__item
        %input.input-message__text.form__item__table{name: "input-message", type: "text", placeholder: "type a message"}
        
            .input-image
                %label.input-image__label{for: "message_image"}
                    %i.fa.fa-image
                    %input.input-image__file{type: "file", id: "message_image"}

        %a.send.form__item__table{href: "#"}
            .btn Send