.left-menu
  .left-header
    %p.left-header__user-name chiemi
    %a.fa.fa-cog.cog-pencil{href: "#"}
    %a.fa.fa-pencil-square-o.cog-pencil{:href => "/groups/new"}

  .groups

    .group
      %a.group-one{:href => "#"}
        %p.group-one__group-name danceteam
        %p.group-one__whats-new まだメッセージがありません

    .group
      %a.group-one{:href => "#"}
        %p.group-one__group-name samplegroup
        %p.group-one__whats-new こんにちわ 
