@import "./reset";
@import "font-awesome";
@import "./variable";
@import "modules/side_bar";
@import "modules/user";
@import "modules/group";
@import "config/colors";
@import "modules/flash";


/*
 *= require font-awesome
 */


        

        .chat-space {
            position: absolute; left: 300px;
            width: calc(100% - 300px);
            height: 100%;
         }   
      
            .chat-header {
                position: fixed;
                width: calc(100% - 380px);
                padding: 0 40px;
                margin-right: 80px;
                height: 100px;
                border-bottom: 1px solid $chat-header-border-bottom; 
                background-color: white;

                & a {
                    display: block;
                    float: right;
                    height: 40px;
                    width: 70px;
                    margin-top: 28px;
                    color: $skyblue;
                    border: solid 1px $skyblue;
                    text-decoration: none;
                 }

                &__edit-btn {
                    line-height: 40px;
                    margin: auto 20px;
                    text-align: center;
                 }
             }
      
                .current-group {
                    width: 152px;
                    float: left;
      
                    &__name {
                        margin-top: 35px;
                        font-size: 20px;
                        color: $current-group-name;
                     }
                 }

                .member-name {
                    padding: 15px 0 0;
                    color: $current-group-member-name;
                    font-size: 12px;

                    &__one-name {
                        display: inline-table;
                        list-style: none;
                     }
                 }

            .messages {
                padding: 150px 40px 150px;
                background-color: $chat-messages;
                min-height: calc(100vh - 90px - 101px);
                overflow: scroll;
             }
            
                .message {

                    &__info {
                        display: flex;
                        padding-bottom: 10px;
            
                        &__who {
                            font-size: 16px;
                            color: $message-info-who;
                            font-weight: bold;
                         }

                        &__when {
                            font-size: 12px;
                            color: $message-info-when;
                            padding-left: 10px;
                         }
                     }

                    .lower-message{
                        font-size: 14px;
                        color: $message-text;
                        padding-bottom: 40px;
                     }
                 }

            .form {
                position: fixed;
                background-color: $chat-form;
                height: 50px;
                bottom: 0;
                width: calc(100vw - 380px);
                padding: 20px 45px;
                
             }

                .input-message {
                    padding: 0 40px 0 10px;
                    float: left;
                    width: calc(100vw - 550px);
                    height: 50px;
                    position: relative;
                    border:solid 0px;
                    &__img {
                        border: none;
                        position: absolute; right: 180px; bottom: 30px;
                     }
                 }
                 .hidden {
                    display: none;
                 }

                            .icon__picture-o {
                                font-size: 21px;
                                color: black;
                                cursor: pointer;
                                
                             }

                        .form__submit {
                             background-color: $skyblue;
                             height:50px;
                             width: 100px;
                             color: white;
                             line-height: 50px;
                             text-align: center;
                             margin-left: 15px;
                             float: right;
                       }
